
p{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    transform: scale(.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
}

p:nth-child(1) {
    animation: hover 1.5s linear infinite;
}

p:nth-child(2) {
    animation: hover 1.5s linear infinite .15s;
}

p:nth-child(3) {
    animation: hover 1.5s linear infinite .30s;
}

p:nth-child(4) {
    animation: hover 1.5s linear infinite .45s;
}

p:nth-child(5) {
    animation: hover 1.5s linear infinite .6s;
}

p:nth-child(6) {
    animation: hover 1.5s linear infinite 0.75s;
}

p:nth-child(7) {
    animation: hover 1.5s linear infinite 0.9s;
}

@keyframes hover {
    0% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 1px lightgray;
    }

    20% {
        transform: scale(1);
        color: #482ff7;
        -webkit-text-stroke: 3px #c64dbe;
        filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 3px #55b4dd)drop-shadow(0 0 5px #55b4dd)hue-rotate(10turn);
    }

    50% {
        transform: scale(.5);
        color: #121212;
        -webkit-text-stroke: 1px lightgray;
    }


}


